extends layout

block content
  include partials/nav

  main
    .jumbotron
      h1 STEEMSAYS
      p DAPP that enables steem community to have a better connection, to share more and more engagement in the community.
      a.btn.btn-dark(href="/feed/trending") View Trending
      a.btn.btn-primary(href="/auth") Login With SteemConnect
